$main_color:#f39c12;
$font-color-black: #4c4948;
$card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
$box-radius:25px;
$btn-bg: #49b1f5;
$border:1px solid #dfe6e9;
$card_bg: #fff;
$card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
$text-highlight-color: #1f2d3d;
$text-bg-hover: #f39c12;
$box-padding:30px 20px;